.career_sec {
	padding: 2% 10%;
	font-weight: 400;
	font-size: 60px;
	line-height: 70px;
}

.Title_ip {
	border: 0;
	border-radius: 15px;
	background-color: #C4C4C480;
	width: 60em;
	height: 50px;
}

.Title_ip::placeholder {
	font-weight: 300;
	font-size: 20px;
	color: black;
	padding:4% 0 0 1%;
}

.Emp_type_ip {
	border: 0;
	border-radius: 15px;
	background-color: #C4C4C480;
	width: 25%;
	height: 50px;

	font-weight: 300;
	font-size: 20px;
	color: black;
}

.Location_ip {
	border: 0;
	border-radius: 15px;
	background-color: #C4C4C480;
	width: 20%;
	height: 50px;
}

.Location_ip::placeholder {
	font-weight: 300;
	font-size: 20px;
	color: black;
	padding:4% 0 0 1%;
}

.no {
	display: none;

}

.row1 {
	margin-top: 1%;
	display: flex;
	align-items: center;
	justify-content:space-between;
}

.row2 {
	margin-bottom: 3%;
	
}

.add_skill_btn {
	width: auto;
	border-radius: 40px;
	border: 1px solid green;
	color: green;
	font-weight: 600;
	font-size: 25px;
	padding: 10px 17px 10px 20px;
}

.Submit_btn {
	border: none;
	border-radius: 10px;
	padding: 1% 2%;
	background-color: #C4C4C4;
	color: black;
	font-weight: 700;
	font-size: 28px;
}

.description_sec {
	background-color: white;
	height:2em;
	border-radius:20px;
}